body{
    margin-top: 0px;
    margin-left: 0px;
    overflow-y:scroll;
    overflow-x:hidden;
    /*overflow: scroll;*/
    background-image: radial-gradient(rgb(25,26,47) 15%,rgb(50,70,90) 85%);
    /*overflow: hidden;*/
}
.bodyDiv{
    /*width: 1600px;*/
    /*height: 900px;*/
    /*background-image: -moz-radial-gradient(rgb(25,26,47) 15%,rgb(50,70,90) 85%);*/
    /*background-image: -webkit-gradient(radial, rgb(25,26,47) 15%,rgb(50,70,90) 85%);*/
    /*background-image: -webkit-radial-gradient(rgb(25,26,47) 15%,rgb(50,70,90) 85%);*/
    /*background-image: radial-gradient(rgb(25,26,47) 15%,rgb(50,70,90) 85%);*/

    /*border:1px solid #999;*/
    /*padding:3px;*/
}
form{

}
.inputForm{
    /*border: 1px solid #000000;*/
}
.inputDiv{
    float: left;
}
.inputButton{
    float: left;
}
.paperTypeDiv{
}



.indexSubmitButton{
}
input{
    /*-webkit-box-shadow: 0px 0px 0px 0px #ffffff; *//* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
    /*box-shadow: 0px 0px 0px 0px #ffffff; *//* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}
image{
}
text{
    font-family: Arial;
}
span{

    position: fixed;
    left: 0px;
    top: 0px;
    visibility: hidden;
    white-space: nowrap;
    /*font-family: Arial;*/
}

/*.indexMain{*/
    /*margin-top: 10px;*/
    /*width: 1500px;*/
    /*margin-left: 472px;*/
/*}*/
/*.indexName{*/
    /*border:1px solid #999;*/
    /*padding:1px;*/

    /*font-size: 55px;*/
    /*margin-top: 250px;*/
    /*width: 200px;*/
    /*margin-left: 38%;*/
    /*color: blue;*/
/*}*/
/*.indexLogin{*/
    /*border:1px solid #999;*/
    /*padding:1px;*/
    /*height: 30px;*/
    /*width: auto;*/

/*}*/
/*input{*/
    /*width: 1500px;*/
    /*background-color: #ffffff;*/
    /*border: 2px solid #999999;*/
    /*-moz-border-radius: 14px;*/
    /*-webkit-border-radius: 14px;*/
    /*border-radius: 5px;*/
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    /*-moz-box-shadow: 0px 0px 9px #000000;*/
    /*-webkit-box-shadow: 0px 0px 9px #000000;*/
    /*box-shadow: 0px 0px 9px #000000;*/
/*}*/
/*.indexInputBox{*/
    /*width: 40%;*/
    /*height: 35px;*/
    /*margin-left: 482px;*/
/*}*/
/*button{*/
    /*background: #3498db;*/
    /*background-image: -webkit-linear-gradient(top, #3498db, #2980b9);*/
    /*background-image: -moz-linear-gradient(top, #3498db, #2980b9);*/
    /*background-image: -ms-linear-gradient(top, #3498db, #2980b9);*/
    /*background-image: -o-linear-gradient(top, #3498db, #2980b9);*/
    /*background-image: linear-gradient(to bottom, #3498db, #2980b9);*/
    /*-webkit-border-radius: 8px;*/
    /*-moz-border-radius: 8px;*/
    /*border-radius: 8px;*/
    /*text-shadow: 7px 4px 4px #666666;*/
    /*font-family: Arial;*/
    /*color: #ffffff;*/
    /*font-size: 10px;*/
    /*padding: 0px 0px 0px 0px;*/
    /*text-decoration: none;*/
    /*height: 40px;*/
/*}*/
/*.indexSubmitButton{*/
    /*font-size: 24px;*/
    /*padding: 1px 2px 4px 2px;*/
    /*margin-top: 5px;*/
/*}*/
/*button:hover{*/
    /*background: #3cb0fd;*/
    /*background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);*/
    /*background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);*/
    /*background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);*/
    /*background-image: -o-linear-gradient(top, #3cb0fd, #3498db);*/
    /*background-image: linear-gradient(to bottom, #3cb0fd, #3498db);*/
    /*text-decoration: none;*/
/*}*/
/*button:active{*/
    /*border-top-color: #1e1e96;*/
    /*background: #1e1e96;*/
/*}*/
/*span{*/
    /*visibility: hidden;*/
    /*white-space: nowrap;*/
    /*font-size: 55px;*/
    /*font-family: Arial;*/
/*}*
/
